apache-airflow-providers-snowflake 
apache-airflow-providers-amazon
apache-airflow-providers-common-sql 
asn1crypto 
cryptography 
filelock 
Flask-AppBuilder 
greenlet 
oscrypto 
pyOpenSSL 
pycryptodomex 
rich
snowflake-connector-python 
snowflake-sqlalchemy 
SQLAlchemy 
sqlparse 
typing-extensions
boto3
watchtower
jsonpath_ng
pandas
mypy-boto3-rds
mypy-boto3-appflow
awscli 
dbt-snowflake
